{% extends 'base.html.twig' %}

{% block title %}Rénitialiser votre mot de passe
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="d-flex justify-content-center mb-5">
        {{ form_start(requestForm) }}
        <h1>Rénitialiser votre mot de passe</h1>
        <div class="form-control m-3 d-flex flex-column">
            {{ form_label(requestForm.email_address) }}
            {{ form_widget(requestForm.email_address) }}
            <div class="form-error bg-danger text-white mt-2">
                {{ form_errors(requestForm.email_address) }}
            </div>
        </div>

        <div>
            <small>
                Veuillez saisir votre adresse email et un lien par mail vous sera envoyé afin que vous puissiez changer votre mot de passe !
            </small>
        </div>

        <button class="btn btn-primary">Envoyer un lien</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
